## Name: Jackline Mboya
## Adm No: 193670
## Course: Applied Machine Learning (AML) - DSA 8401
### Assignment 1.

## Introduction to the Data Preprocessing Assignment
This assignment focuses on a crucial phase of any Machine Learning Project, which is **Data Pre-processing**. The goal is to prepare a raw dataset for analysis by cleaning it and transforming it into a format suitable for machine learning models.

This specific assignment involves working with a dataset from the MIMIC-III database, which contains valuable information on in-hospital mortality obtained from monitoring of patients in the Intensive Care Unit (ICU).

The dataset contains a mix of numerical and categorical variables. The data preprocessing phase (this report) outlines the step-by-step process of cleaning this data, including:

- Categorizing variables based on their type.

- Performing an initial statistical description to understand the raw data.

- Identifying and treating outliers and missing values.

- Recalculating statistics to see the impact of the cleaning process.

- Analyzing the advantages and disadvantages of the chosen preprocessing techniques.

By the end of this process, the dataset will be transformed into a high-quality asset ready for building a machine learning model for in-hospital mortality.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/jackieMboyaAchieng/Applied-Machine-Learning/refs/heads/main/Assignments/assigment%201/ihm_48_hours.csv')
df.head()

,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale eye opening,Glascow coma scale motor response,Glascow coma scale total,Glascow coma scale verbal response,Glucose,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH,Patient_id,target
0,NaN,73.0,NaN,Spontaneously,Obeys Commands,NaN,Oriented,-11.396037,-19.976803,NaN,76.0,94.000000,17.0,116.0,36.388889,83.5,NaN,30552,0
1,NaN,73.0,NaN,Spontaneously,Obeys Commands,NaN,Oriented,115.000000,96.000000,NaN,76.0,95.000000,18.0,116.0,36.388889,83.5,NaN,30552,0
2,NaN,73.0,NaN,Spontaneously,Obeys Commands,NaN,Oriented,115.000000,96.000000,NaN,76.0,-6.497052,18.0,116.0,36.388889,83.5,NaN,30552,0
3,NaN,73.0,NaN,Spontaneously,Obeys Commands,NaN,Oriented,115.000000,96.000000,NaN,76.0,95.000000,18.0,116.0,36.388889,83.5,NaN,30552,0
4,NaN,73.0,NaN,Spontaneously,Obeys Commands,NaN,Oriented,115.000000,96.000000,NaN,76.0,95.000000,18.0,116.0,36.388889,83.5,NaN,30552,0

### Data Understanding

In [3]:
df.shape

(300912, 19)

This dataset contains 19 unique variables and 300,912 entries.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300912 entries, 0 to 300911
Data columns (total 19 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Capillary refill rate               6336 non-null    float64
 1   Diastolic blood pressure            296944 non-null  float64
 2   Fraction inspired oxygen            88464 non-null   float64
 3   Glascow coma scale eye opening      274190 non-null  object
 4   Glascow coma scale motor response   296978 non-null  object
 5   Glascow coma scale total            184416 non-null  float64
 6   Glascow coma scale verbal response  296884 non-null  object
 7   Glucose                             300698 non-null  float64
 8   Heart Rate                          300912 non-null  float64
 9   Height                              55824 non-null   float64
 10  Mean blood pressure                 296984 non-null  float64
 11  Oxygen saturation                   300912 non-null  float64
 12  Respiratory rate                    300864 non-null  float64
 13  Systolic blood pressure             300912 non-null  float64
 14  Temperature                         298848 non-null  float64
 15  Weight                              221040 non-null  float64
 16  pH                                  230614 non-null  float64
 17  Patient_id                          300912 non-null  object
 18  target                              300912 non-null  int64
dtypes: float64(14), int64(1), object(4)
memory usage: 43.6+ MB

In [5]:
df.describe()

,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale total,Glucose,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH,target
count,6336.000000,296944.000000,88464.000000,184416.000000,300698.000000,300912.000000,55824.000000,296984.00000,300912.000000,300864.000000,300912.000000,298848.000000,221040.000000,230614.000000,300912.000000
mean,0.219223,62.541099,0.599884,10.818123,130.628329,79.447793,168.543422,78.79108,95.343460,18.731265,119.694213,36.832834,82.969018,5.573617,0.142128
std,0.413753,341.559624,0.253919,4.334923,84.171126,32.145920,15.137414,29.52986,2529.203751,6.884248,23.396042,1.000075,26.765857,5.963634,0.349182
min,0.000000,0.000000,0.000000,3.000000,-19.999974,-19.999623,0.000000,-34.00000,-19.999687,0.000000,0.000000,0.000000,0.000000,-19.999706,0.000000
25%,0.000000,51.000000,0.400000,8.000000,101.000000,70.000000,160.000000,68.00000,95.000000,15.000000,103.000000,36.277802,66.600000,7.310000,0.000000
50%,0.000000,59.000000,0.500000,11.000000,126.000000,84.000000,170.000000,77.00000,98.000000,18.000000,117.000000,36.833333,79.099998,7.370000,0.000000
75%,0.000000,69.000000,0.700000,15.000000,158.000000,97.000000,178.000000,88.00000,100.000000,22.000000,134.000000,37.388889,94.699997,7.420000,0.000000
max,1.000000,100105.010000,7.100000,15.000000,9999.000000,941.000000,203.000000,9381.00000,981023.000000,1211.000000,295.000000,73.760002,931.224376,99.000000,1.000000

## Data Cleaning

In [8]:
## Rename Columns (Variables)
new_names = {
        'Diastolic blood pressure': 'diastolic_blood_pressure',
        'Systolic blood pressure': 'systolic_blood_pressure',
        'Mean blood pressure': 'mean_blood_pressure',
        'Heart Rate': 'heart_rate',
        'Oxygen saturation': 'oxygen_saturation',
        'Respiratory rate': 'respiratory_rate',
        'Temperature': 'temperature',
        'Capillary refill rate': 'capillary_refill_rate',
        'Fraction inspired oxygen': 'fraction_inspired_oxygen',
        'Glascow coma scale eye opening': 'gcs_eye',
        'Glascow coma scale motor response': 'gcs_motor',
        'Glascow coma scale total': 'gcs_total',
        'Glascow coma scale verbal response': 'gcs_verbal_response',
        'Patient_id': 'PatientID'
    }
df.rename(columns=new_names, inplace=True)

In [9]:
df

,capillary_refill_rate,diastolic_blood_pressure,fraction_inspired_oxygen,gcs_eye,gcs_motor,gcs_total,gcs_verbal,Glucose,heart_rate,Height,mean_blood_pressure,oxygen_saturation,respiratory_rate,systolic_blood_pressure,temperature,Weight,pH,PatientID,target
0,NaN,73.0,NaN,Spontaneously,Obeys Commands,NaN,Oriented,-11.396037,-19.976803,NaN,76.0,94.000000,17.0,116.0,36.388889,83.5,NaN,30552,0
1,NaN,73.0,NaN,Spontaneously,Obeys Commands,NaN,Oriented,115.000000,96.000000,NaN,76.0,95.000000,18.0,116.0,36.388889,83.5,NaN,30552,0
2,NaN,73.0,NaN,Spontaneously,Obeys Commands,NaN,Oriented,115.000000,96.000000,NaN,76.0,-6.497052,18.0,116.0,36.388889,83.5,NaN,30552,0
3,NaN,73.0,NaN,Spontaneously,Obeys Commands,NaN,Oriented,115.000000,96.000000,NaN,76.0,95.000000,18.0,116.0,36.388889,83.5,NaN,30552,0
4,NaN,73.0,NaN,Spontaneously,Obeys Commands,NaN,Oriented,115.000000,96.000000,NaN,76.0,95.000000,18.0,116.0,36.388889,83.5,NaN,30552,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300907,NaN,59.0,NaN,4 Spontaneously,6 Obeys Commands,15.0,5 Oriented,105.000000,129.000000,NaN,89.0,98.000000,14.0,110.0,38.277802,NaN,7.36,11623,0
300908,NaN,61.0,NaN,4 Spontaneously,NaN,15.0,5 Oriented,105.000000,108.000000,NaN,80.0,98.000000,15.0,116.0,37.444445,NaN,7.36,11623,0
300909,NaN,61.0,NaN,4 Spontaneously,6 Obeys Commands,15.0,5 Oriented,100.000000,108.000000,NaN,80.0,98.000000,15.0,116.0,37.444445,NaN,7.36,11623,0
300910,NaN,52.0,NaN,4 Spontaneously,6 Obeys Commands,15.0,5 Oriented,100.000000,108.000000,NaN,80.0,98.000000,16.0,101.0,37.444445,NaN,7.36,11623,0
300911,NaN,53.0,NaN,4 Spontaneously,6 Obeys Commands,15.0,5 Oriented,100.000000,108.000000,NaN,80.0,99.000000,19.0,105.0,37.444445,NaN,7.36,11623,0

#### Why Renaming of Variables?

Column renaming is an important step in data pre-processing for various key reasons:

- **Readability and Clarity**: It makes the names easy to read for both analysist and end users. Instead of long names with spaces, we use short, simple names. This helps us understand what the data is about just by looking at the column names.
- **Consistency**: It keeps all the names in the same style. This helps us avoid confusion and mistakes when we write code.
- **Usability**: It helps the data work well with programming tools. As some programs don't like spaces or special symbols in names, changing the names can be a safe approach.
- **Documentation**: Clear names explain themselves. For example, 'systolic_blood_pressure' quickly tells us it's about "Systolic blood pressure" with no need to explan further.

### Enumeration of Variables